@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

:root {
  --background: #efefef;
  --foreground: #171717;
  --gold-color: #ffd21c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: var(--gold-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #1f1f1f;
    --foreground: #f3f4f6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Titillium Web, Helvetica, sans-serif;
}
