@import "tailwindcss";
@layer theme, base, components, utilities;
/* @custom-variant dark (&:where(.dark, .dark *)); */
/*  tailwind.config = {
            darkMode: 'class',
            theme: {
                extend: {
                    colors: {
                        primary: {
                            light: '#d4af37',
                            dark: '#f5d042'
                        },
                        secondary: {
                            light: '#b08927',
                            dark: '#c9a227'
                        },
                        accent: '#ffdb70',
                        dark: '#111827',
                        light: '#f9fafb',
                    },
                    fontFamily: {
                        sans: ['Poppins', 'sans-serif'],
                    },
                }
            }
        } */
:root {
  --background: #efefef;
  --foreground: #171717;
  /* --gold-color: #d4ab08; */
  --gold-color: #f5c518;
  --gold-opacity-color: #f5c518d8;
  --gold-dark-color: #181301;
  --stoke-dark: #34374a;
  --background-image-gradient: linear-gradient(
    55.15deg,
    #8efef1 -7.09%,
    #fde3b3 51.72%,
    #ffd200 101.48%
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: var(--gold-color);
  --color-gold-100: var(--gold-100-color);
  --color-stroke-dark: var(--stoke-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --bg-gradient: var(--background-image-gradient);
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #1f1f1f;
    --foreground: #f3f4f6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: poppins, Titillium Web, Helvetica, sans-serif;
}

.hero-bg {
  /* linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), */
  background: url("https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/af892816-647f-442b-9b25-09c46619b2d9.png")
    no-repeat center center;

  /* background: url("../public/assets/backImage.jpg") no-repeat center center; */
  background-size: cover;
}
